# Grist Configuration

# Port Configuration
GRIST_PORT=8484

# Timezone
TZ=UTC

# Application Configuration
GRIST_SINGLE_ORG=grist
GRIST_ORG_IN_PATH=false
GRIST_DEFAULT_EMAIL=admin@example.com
GRIST_SESSION_SECRET=changeme_session_secret_min_32_chars

# Database Configuration
TYPEORM_TYPE=postgres
TYPEORM_HOST=grist-db
TYPEORM_PORT=5432
TYPEORM_DATABASE=grist
TYPEORM_USERNAME=grist
TYPEORM_PASSWORD=P@ss0rd123

# PostgreSQL Configuration
POSTGRES_USER=grist
POSTGRES_PASSWORD=P@ss0rd123
POSTGRES_DB=grist
