# Tandoor Recipes Configuration

# Port Configuration
TANDOOR_PORT=8080

# Timezone
TZ=UTC

# Application Configuration
SECRET_KEY=changeme_secret_key_min_50_characters_long

# Database Configuration
DB_ENGINE=django.db.backends.postgresql
POSTGRES_HOST=tandoor-db
POSTGRES_PORT=5432
POSTGRES_DB=tandoor
POSTGRES_USER=tandoor
POSTGRES_PASSWORD=P@ss0rd123
