# Redmine Configuration

# Port Configuration
REDMINE_PORT=3000

# Timezone
TZ=UTC

# Application Configuration
SECRET_KEY_BASE=changeme_secret_key_base_min_30_chars

# Database Configuration
DB_HOST=redmine-db
DB_PORT=5432
DB_DATABASE=redmine
DB_USERNAME=redmine
DB_PASSWORD=P@ss0rd123

# PostgreSQL Configuration
POSTGRES_USER=redmine
POSTGRES_PASSWORD=P@ss0rd123
POSTGRES_DB=redmine
