# Vikunja Configuration

# Port Configuration
VIKUNJA_PORT=3456

# Timezone
TZ=UTC

# Application Configuration
JWT_SECRET=changeme_jwt_secret_min_32_chars
FRONTEND_URL=http://localhost:3456

# Database Configuration
DB_HOST=vikunja-db
DB_DATABASE=vikunja
DB_USERNAME=vikunja
DB_PASSWORD=P@ss0rd123

# PostgreSQL Configuration
POSTGRES_USER=vikunja
POSTGRES_PASSWORD=P@ss0rd123
POSTGRES_DB=vikunja
