# Joplin Server Configuration

# Port Configuration
JOPLIN_PORT=22300

# Application Configuration
APP_BASE_URL=http://localhost:22300
APP_PORT=22300

# Database Configuration
DB_CLIENT=pg
POSTGRES_HOST=joplin-db
POSTGRES_PORT=5432
POSTGRES_DATABASE=joplin
POSTGRES_USER=joplin
POSTGRES_PASSWORD=P@ss0rd123
