# Miniflux Configuration

# Port Configuration
MINIFLUX_PORT=8080

# Timezone
TZ=UTC

# Admin Configuration
ADMIN_USERNAME=admin
ADMIN_PASSWORD=P@ss0rd123

# Database Configuration
POSTGRES_USER=miniflux
POSTGRES_PASSWORD=P@ss0rd123
POSTGRES_DB=miniflux
