# Seafile Configuration

# Port Configuration
SEAFILE_PORT=80
SEAFILE_HTTPS_PORT=443

# Timezone
TZ=UTC

# Admin Configuration
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=P@ss0rd123

# Database Configuration
MYSQL_ROOT_PASSWORD=P@ssw0rd@123

# Server Configuration
SERVER_HOSTNAME=localhost
