# Outline Configuration

# Port Configuration
OUTLINE_PORT=3000

# Timezone
TZ=UTC

# Application Configuration
SECRET_KEY=generate_a_secret_key_at_least_32_chars
UTILS_SECRET=generate_utils_secret_at_least_32_chars
OUTLINE_URL=http://localhost:3000

# Database Configuration
POSTGRES_USER=outline
POSTGRES_PASSWORD=P@ss0rd123
POSTGRES_DB=outline
