# Quartz.NET Configuration

# Port Configuration
QUARTZ_PORT=5001
DB_EXTERNAL_PORT=5432

# Timezone
TZ=UTC

# Quartz Configuration
INSTANCE_NAME=QuartzScheduler
THREAD_COUNT=10

# Database Configuration
DB_HOST=quartz-db
DB_PORT=5432
DB_DATABASE=quartz
DB_USERNAME=quartz
DB_PASSWORD=P@ss0rd123

# PostgreSQL Configuration
POSTGRES_USER=quartz
POSTGRES_PASSWORD=P@ss0rd123
POSTGRES_DB=quartz
