# Jupyter Notebook Configuration

# Port Configuration
JUPYTER_PORT=8888

# Timezone
TZ=UTC

# Application Configuration
JUPYTER_ENABLE_LAB=yes
JUPYTER_TOKEN=P@ss0rd123
GRANT_SUDO=yes

# Notebook Directory
# Mount a local directory for notebooks (optional)
# NOTEBOOKS_PATH=./notebooks
