# Ntfy Configuration

# Port Configuration
NTFY_PORT=8090

# Timezone
TZ=UTC

# Application Configuration
NTFY_BASE_URL=http://localhost:8090
NTFY_CACHE_FILE=/var/cache/ntfy/cache.db
NTFY_AUTH_FILE=/var/lib/ntfy/user.db
NTFY_AUTH_DEFAULT_ACCESS=read-write
NTFY_BEHIND_PROXY=false
NTFY_ATTACHMENT_CACHE_DIR=/var/cache/ntfy/attachments

# User Management
NTFY_ENABLE_SIGNUP=true
NTFY_ENABLE_LOGIN=true
