# Immich Configuration

# Port Configuration
IMMICH_PORT=2283

# Timezone
TZ=UTC

# Database Configuration
DB_HOSTNAME=immich-db
DB_USERNAME=immich
DB_PASSWORD=P@ss0rd123
DB_DATABASE_NAME=immich

# Redis Configuration
REDIS_HOSTNAME=immich-redis

# Upload Location
UPLOAD_LOCATION=/usr/src/app/upload
