# Mattermost Configuration

# Port Configuration
MATTERMOST_PORT=8065

# Timezone
TZ=UTC

# Application Configuration
SITE_URL=http://localhost:8065

# Database Configuration
DB_HOST=mattermost-db
DB_DATABASE=mattermost
DB_USERNAME=mattermost
DB_PASSWORD=P@ss0rd123

# PostgreSQL Configuration
POSTGRES_USER=mattermost
POSTGRES_PASSWORD=P@ss0rd123
POSTGRES_DB=mattermost
