# Metabase Configuration

# Port Configuration
METABASE_PORT=3000

# Timezone
TZ=UTC

# Database Configuration
MB_DB_TYPE=postgres
MB_DB_HOST=metabase-db
MB_DB_PORT=5432
MB_DB_DBNAME=metabase
MB_DB_USER=metabase
MB_DB_PASS=P@ss0rd123

# PostgreSQL Configuration
POSTGRES_USER=metabase
POSTGRES_PASSWORD=P@ss0rd123
POSTGRES_DB=metabase
