# InfluxDB Configuration

# Port Configuration
INFLUXDB_PORT=8086

# Timezone
TZ=UTC

# Initial Setup Configuration
INFLUXDB_INIT_MODE=setup
INFLUXDB_INIT_USERNAME=admin
INFLUXDB_INIT_PASSWORD=P@ss0rd123
INFLUXDB_INIT_ORG=myorg
INFLUXDB_INIT_BUCKET=mybucket

# Admin Token (change this to a secure random string)
INFLUXDB_INIT_ADMIN_TOKEN=mytoken123456789
