# Wallabag Configuration

# Port Configuration
WALLABAG_PORT=8080

# Timezone
TZ=UTC

# Database Configuration
POSTGRES_USER=wallabag
POSTGRES_PASSWORD=P@ss0rd123
POSTGRES_DB=wallabag

# Application Configuration
DOMAIN_NAME=http://localhost:8080
SECRET_KEY=change-me-to-a-secret-key
