# MariaDB Configuration

# Port Configuration
MARIADB_PORT=3306
ADMINER_PORT=8080

# Timezone
TZ=UTC

# MariaDB Root Configuration
MYSQL_ROOT_PASSWORD=P@ss0rd123

# Database Configuration
MYSQL_DATABASE=mydb
MYSQL_USER=dbuser
MYSQL_PASSWORD=P@ss0rd123

# Adminer Configuration
ADMINER_DESIGN=pepa-linha-dark
