# Focalboard Configuration

# Port Configuration
FOCALBOARD_PORT=8000

# Timezone
TZ=UTC

# Application Configuration
SERVER_ROOT=http://localhost:8000

# Database Configuration
DB_HOST=focalboard-db
DB_PORT=5432
DB_DATABASE=focalboard
DB_USERNAME=focalboard
DB_PASSWORD=P@ss0rd123

# PostgreSQL Configuration
POSTGRES_USER=focalboard
POSTGRES_PASSWORD=P@ss0rd123
POSTGRES_DB=focalboard
