# Loki with Grafana Configuration

# Port Configuration
LOKI_PORT=3100
GRAFANA_PORT=3000

# Grafana Admin Credentials
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=P@ss0rd123

# Grafana Configuration
GF_ALLOW_SIGNUP=false
GF_SERVER_ROOT_URL=http://localhost:3000
GF_INSTALL_PLUGINS=
