# RabbitMQ Configuration

# Port Configuration
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# Timezone
TZ=UTC

# Default User Configuration
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
